{% extends 'account/base.html' %}
{% block title %}
    - アカウント作成
{% endblock title %}
{% block headleft %}
    <button class="btn btn-outline-secondary"
            onclick="location.href='{% url "login" %}'">
        <i class="bi bi-chevron-left"></i>ログイン画面に戻る
    </button>
{% endblock headleft %}
{% block content %}
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
    <form class="mx-1 mx-md-4" method="POST" action="">
        {% csrf_token %}
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-person-fill me-3" style="font-size: 1.5rem;"></i>
            <div class="form-floating flex-fill mb-0">
                <input type="text"
                       id="inputUsername"
                       class="form-control"
                       name="username"
                       placeholder="User name"
                       required
                       autofocus>
                <label for="inputUsername">User name</label>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-envelope-fill me-3" style="font-size: 1.5rem;"></i>
            <div class="form-floating flex-fill mb-0">
                <input type="email"
                       id="inputEmail"
                       class="form-control"
                       name="email"
                       placeholder="Email address"
                       required
                       autofocus>
                <label for="inputEmail">Email address</label>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-lock-fill me-3" style="font-size: 1.5rem;"></i>
            <div class="form-floating flex-fill mb-0">
                <input type="password"
                       id="inputPassword1"
                       class="form-control"
                       name="password1"
                       placeholder="Password"
                       required>
                <label for="inputPassword1">Password</label>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="bi bi-key-fill me-3" style="font-size: 1.5rem;"></i>
            <div class="form-floating flex-fill mb-0">
                <input type="password"
                       id="inputPassword2"
                       class="form-control"
                       name="password2"
                       placeholder="Repeat your password"
                       required>
                <label for="inputPassword2">Repeat your password</label>
            </div>
        </div>
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-outline-primary btn-lg">Register</button>
        </div>
    </form>
{% endblock content %}
